            <div id="playGround" class="suffix_2 grid_8 prefix_2 all_edges">
                <table>
                    <tr class="columnDetection">
                        <td data-index="1"></td>
                        <td data-index="2"></td>
                        <td data-index="3"></td>
                        <td data-index="4"></td>
                        <td data-index="5"></td>
                        <td data-index="6"></td>
                    </tr>
                    <tr id="firstRow" data-index="1">
                        <td data-index="1-1"></td>
                        <td data-index="1-2"></td>
                        <td data-index="1-3"></td>
                        <td data-index="1-4"></td>
                        <td data-index="1-5"></td>
                        <td data-index="1-6"></td>
                    </tr>
                    <tr id="secondRow" data-index="2">
                        <td data-index="2-1"></td>
                        <td data-index="2-2"></td>
                        <td data-index="2-3"></td>
                        <td data-index="2-4"></td>
                        <td data-index="2-5"></td>
                        <td data-index="2-6"></td>
                    </tr>
                    <tr id="thirdRow" data-index="3">
                        <td data-index="3-1"></td>
                        <td data-index="3-2"></td>
                        <td data-index="3-3"></td>
                        <td data-index="3-4"></td>
                        <td data-index="3-5"></td>
                        <td data-index="3-6"></td>
                    </tr>
                    <tr id="fourthRow" data-index="4">
                        <td data-index="4-1"></td>
                        <td data-index="4-2"></td>
                        <td data-index="4-3"></td>
                        <td data-index="4-4"></td>
                        <td data-index="4-5"></td>
                        <td data-index="4-6"></td>
                    </tr>
                    <tr id="fifthRow" data-index="5">
                        <td data-index="5-1"></td>
                        <td data-index="5-2"></td>
                        <td data-index="5-3"></td>
                        <td data-index="5-4"></td>
                        <td data-index="5-5"></td>
                        <td data-index="5-6"></td>
                    </tr>
                    <tr id="sixthRow" data-index="6">
                        <td data-index="6-1" class="hasDataA"></td>
                        <td data-index="6-2"></td>
                        <td data-index="6-3"></td>
                        <td data-index="6-4"></td>
                        <td data-index="6-5"></td>
                        <td data-index="6-6"></td>
                    </tr>
                </table>
            </div>
